html {
  font-family: 'Fira Code', Consolas, monospace;
}

body {
}

main {
  padding: 2rem;
}

[data-animation='label'],
[data-animation='paragraph'],
[data-animation='title'] {
  & span {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
  }
}
