extends ../layout.pug

block variables
  - var template = 'home'

block content
  .home 
    h1 About this Boilerplate
    ul
      li Express.js Server
      li Webpack build step for client scripts
      ul
        li Babel - ECMA2020
        li PostCSS
        li Transitions
        li Animations